<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/weather-icons.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript" src="/javascripts/bundle.js"></script>
  </body>
</html>
