body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  color: #424770;
  background-color: #f6f9fc;
  width: 800px;
  height: 480px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.App--night {
  color: #a0a0a0;
  background-color: #424770;
}

.DateTime {
  height: 122px;
  background-color: #e8eaed;
  border-bottom: 1px solid #cfd7df;
}

.App--night .DateTime {
  background-color: inherit;
  border-bottom: none;
}

.Clock {
  font-size: 106px;
  position: relative;
}

.Clock-time {
  position: absolute;
  left: 10px;
  font-family: 'Inconsolata', monospace;
}

.Clock-hours:after {
  content: ':';
}

.Clock-period {
  vertical-align: super;
  font-size: 40px;
  padding: 0 0 0 10px;
}

.Date {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 36px;
}

.Date-weekday {
  text-align: right;
}

.Weather {
  font-size: 38px;
  position: relative;
  top: -10px;
}

.Weather-icon {
  font-size: 95px;
  position: absolute;
  top: 10px;
  left: 22px;
  width: 132px;
  text-align: center;
}

.Weather-temperature {
  font-size: 95px;
  position: absolute;
  top: 10px;
  left: 186px;
}

.Weather-temperature-highlow {
  font-size: 20px;
  text-align: center;
}

.Weather-today-summary {
  font-size: 20px;
  text-align: center;
}


.Weather-summary {
  font-size: 20px;
  text-align: center;
}

.Weather-stats {
  font-size: 22px;
  position: absolute;
  top: 22px;
  right: 15px;
}

.Weather-stats th {
  min-width: 100px;
  text-align: right;
  padding: 0 20px 0 0;
}

.Forecast {
  height: 150px;
  width: 792px;
  position: absolute;
  bottom: 20px;
  left: 4px;
}

.Forecast-hour {
  display: inline-block;
  width: 65px;
  height: 100%;
  font-size: 12px;
  margin: 0 1px 0 0;
  text-align: center;
  position: relative;
}

.Forecast-hour-icon {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 3;
  color: white;
  font-size: 24px;
}

.App--night .Forecast-hour-icon {
  color: #424770;
}

.Forecast-hour-temperature {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.Forecast-hour-time {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  bottom: -18px;
  font-size: 15px;
}

.Forecast-hour-bar {
  bottom: 0;
  background-color: #6772e5;
  width: 65px;
  position: absolute;
  z-index: 1;
}

.App--night .Forecast-hour-bar {
  background-color: #a0a0a0;
}

.Error {
  text-align: center;
  color: red;
  position: relative;
  top: 150px;
}

.Initializing {
  text-align: center;
  position: relative;
  top: 150px;
}

.Allergies {
  height: 10px;
}

.Allergies--low { background-color: #3ecf8e; }
.Allergies--medium-low { background-color: #f5be58; }
.Allergies--medium { background-color: #f79a59; }
.Allergies--high-medium { background-color: #fa755a; }
.Allergies--high { background-color: #d782d9; }

.App--night .Allergies--low { background-color: #0a7261; }
.App--night .Allergies--medium-low { background-color: #b5562b; }
.App--night .Allergies--medium { background-color: #aa3c38; }
.App--night .Allergies--high-medium { background-color: #9e2146; }
.App--night .Allergies--high { background-color: #6b3791; }
