body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  color: #424770;
  background-color: #f6f9fc;
  width: 800px;
  height: 480px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.App--night {
  color: #a0a0a0;
  background-color: #424770;
}

.DateTime {
  height: 122px;
  background-color: #e8eaed;
  border-bottom: 1px solid #cfd7df;
}

.App--night .DateTime {
  background-color: inherit;
  border-bottom: none;
}

.App:after {
  content: '';
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: sepia(30%);
  z-index: 10000 !important;
}

.App--hour-00:after { backdrop-filter: sepia(50%); }
.App--hour-01:after { backdrop-filter: sepia(50%); }
.App--hour-02:after { backdrop-filter: sepia(50%); }
.App--hour-03:after { backdrop-filter: sepia(50%); }
.App--hour-04:after { backdrop-filter: sepia(40%); }
.App--hour-05:after { backdrop-filter: sepia(30%); }
.App--hour-06:after { backdrop-filter: sepia(20%); }
.App--hour-07:after { backdrop-filter: sepia(15%); }
.App--hour-08:after { backdrop-filter: sepia(10%); }
.App--hour-09:after { backdrop-filter: sepia(5%); }
.App--hour-10:after { backdrop-filter: sepia(5%); }
.App--hour-11:after { backdrop-filter: sepia(0%); }
.App--hour-12:after { backdrop-filter: sepia(0%); }
.App--hour-13:after { backdrop-filter: sepia(0%); }
.App--hour-14:after { backdrop-filter: sepia(0%); }
.App--hour-15:after { backdrop-filter: sepia(5%); }
.App--hour-16:after { backdrop-filter: sepia(10%); }
.App--hour-17:after { backdrop-filter: sepia(15%); }
.App--hour-18:after { backdrop-filter: sepia(20%); }
.App--hour-19:after { backdrop-filter: sepia(30%); }
.App--hour-20:after { backdrop-filter: sepia(40%); }
.App--hour-21:after { backdrop-filter: sepia(50%); }
.App--hour-22:after { backdrop-filter: sepia(50%); }
.App--hour-23:after { backdrop-filter: sepia(50%); }

.Clock {
  font-size: 106px;
  position: absolute;
  left: 10px;
}

.Clock-time {
  font-family: "Inconsolata", monospace;
  float: left;
}

.Clock-hours:after {
  content: ":";
}

.Clock-period {
  vertical-align: super;
  font-size: 40px;
  padding: 0 0 0 10px;
}

.Clock-sun {
  font-size: 20px;
  line-height: 34px;
  float: left;
  margin: 26px 0 0 30px;
  height: 122px;
  font-weight: normal;
}

.Clock-sunrise {
  border-bottom: 1px solid #cfd7df;
}

.Date {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 36px;
}

.Date-weekday {
  text-align: right;
}

.Weather {
  font-size: 38px;
  position: relative;
  top: -10px;
}

.Weather-icon {
  font-size: 82px;
  position: absolute;
  top: 15px;
  left: 22px;
  width: 132px;
  text-align: center;
}

.Weather-icon .Skycon {
  position: relative;
  top: 10px;
}

.Weather-temperature {
  font-size: 87px;
  position: absolute;
  top: 10px;
  left: 186px;
}

.Weather-temperature-highlow {
  font-size: 20px;
  text-align: center;
}

.Weather-summary {
  font-size: 20px;
  text-align: center;
}

.Weather-stats {
  font-size: 20px;
  position: absolute;
  top: 22px;
  right: 15px;
  max-width: 380px;
}

.Weather-stats th {
  min-width: 100px;
  text-align: right;
  padding: 0 20px 0 0;
  vertical-align: text-top;
}

.Forecast {
  height: 150px;
  width: 792px;
  position: absolute;
  bottom: 20px;
  left: 4px;
}

.Forecast-hour {
  display: inline-block;
  width: 43px;
  height: 100%;
  font-size: 12px;
  margin: 0 1px 0 0;
  text-align: center;
  position: relative;
}

.Forecast-hour-icon {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 3;
  color: white;
  font-size: 24px;
}

.App--night .Forecast-hour-icon {
  color: #424770;
}

.Forecast-hour-temperature {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.Forecast-hour-time {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  bottom: -18px;
  font-size: 15px;
}

.Forecast-hour-bar {
  bottom: 0;
  background-color: #6772e5;
  width: 43px;
  position: absolute;
  z-index: 1;
}

.App--night .Forecast-hour-bar {
  background-color: #a0a0a0;
}

.Error {
  text-align: center;
  color: red;
  position: relative;
  top: 150px;
}

.Initializing {
  text-align: center;
  position: relative;
  top: 150px;
}

.Summary {
  padding: 0 5px;
  font-size: 14px;
}
